<app-header></app-header>
<div class="container-fluid" style="margin-top: 100px;" data-aos="zoom-in-down"  data-aos-duration="1500">
    <h2>Reviews And Queries</h2>
    <div class="md-form mt-0">
      <input id="myInput" class="form-control" type="text" placeholder="Search..">
      </div>
  
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Produt Name</th>
          <th>Queries</th>
          <th>Reply</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr>
          <td>One Pus 7 Pro</td>
          <td>how much Refresh Rate is Present In Dispaly of One plus  7 Pro ?</td>
          <td><a href="#" class="btn btn-primary"><i class="fa fa-mail-reply fa-lg" ></i> Reply</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</a>
        </td>
        </tr>
        <tr>
          <td>Iphone 11 Pro max</td>
          <td>Does the Iphone 11 have USB C ?</td>
          <td><a href="#" class="btn btn-primary"><i class="fa fa-mail-reply fa-lg" ></i> Reply</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</a></td>
        </tr>
        <tr>
          <td>Galaxy Note 10 plus</td>
          <td>does samsung galaxy note 10 plus support 5g ?</td>
          <td><a href="#" class="btn btn-primary"><i class="fa fa-mail-reply fa-lg" ></i> Reply</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</a></td>
        </tr>
      </tbody>
    </table>
   
  </div>