<div class="checkout-section container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="shipping-detail">
                        <div class="shipping-address">
                            <div class="head">
                                    <h2 style="color: #ff3300;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Shipping Address<a href="javascript:void(0);"><i class="fa fa-plus-square-o"></i></a></h2>   
                            </div>
                            <div class="address-section">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="address-detail active">
                                                    <p class="name">Raj Panchal</p>
                                                    <p class="address">162,Shanti-sagar Row-house,Adajan,Surat-395009</p>
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0);" class="delete"><i class="fa fa-trash"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="edit"><i class="fa fa-pencil"></i></a>
                                                        </li>
                                                        
                                                    </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="address-detail">
                                                    <p class="name">Jaydeep Mahajan</p>
                                                    <p class="address">Blossom-aura A-104,Canal road ,Nadiad-387001</p>
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0);" class="delete"><i class="fa fa-trash"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="edit"><i class="fa fa-pencil"></i></a>
                                                        </li>
                                                       
                                                    </ul>
                                                </div>
                                        </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="address-detail">
                                                    <p class="name">Preet Patel</p>
                                                    <p class="address">A-403,Om Park,Pal Road,Adajan,Surat-395009</p>
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0);" class="delete"><i class="fa fa-trash"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="edit"><i class="fa fa-pencil"></i></a>
                                                        </li>
                                                       
                                                    </ul>
                                        </div>  
                                    </div>
                                </div>
                                <div class="shipping-detail-selection">
                                    <div class="card">
                                        <form action="get">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                           <input type="text" name="" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                           <input type="text" name="" placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                           <input type="text" name="" placeholder="Email Address">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                           <input type="text" name="" placeholder="Phone Number">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                        <textarea rows="4" placeholder="Enter Address"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                           <select title="Select Country">
                                                               <option value="1">Select Country</option>
                                                               <option value="2">India</option>
                                                               <option value="3">Canada</option>
                                                               <option value="4">USA</option>
                                                               <option value="5">China</option>
                                                               <option value="6">Russia</option>
                                                           </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                           <select title="Select State">
                                                               <option value="1">Select State</option>
                                                               <option value="2">Gujarat</option>
                                                               <option value="3">Ontario</option>
                                                               <option value="4">Washington</option>
                                                               <option value="5">Fujian</option>
                                                               <option value="6">Moscow</option>
                                                           </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                           <input type="text" name="" placeholder="Pin Code">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-24">
                                                <div class="form-group">
                                                               <button>Add</button>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="cart-summary">
                                    <div class="payment-detail">
                                        <div class="heading">
                                            <h2>Summary</h2>
                                        </div>
                                        <div class="summary-box">
                                            <ul>
                                                <li>
                                                    <span class="text-label">Sub total</span>
                                                    <span class="text-price"><i class="fa fa-rupee"></i> 10699</span>
                                                </li>
                                                <li>
                                                    <span class="text-label">GST</span>
                                                    <span class="text-price"><i class="fa fa-rupee"></i> 325</span>
                                                </li>
                                                <li>
                                                    <span class="text-label">Delivery Charge</span>
                                                    <span class="text-price"><i class="fa fa-rupee"></i> 100</span>
                                                </li>
                                                <li>
                                                    <span class="text-label">Discount</span>
                                                    <span class="text-price"> - &nbsp;&nbsp;&nbsp;<i class="fa fa-rupee"></i> 199</span>
                                                </li> 
                                            </ul>
                                            <div class="total-price">
                                                <ul>
                                                    <li>
                                                        <span class="text-label">Total Payment</span>
                                                        <span class="text-price"><i class="fa fa-rupee"></i> 10925</span>
                                                    </li> 
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cupon-code-section">
                                        <div class="heading">
                                            <h2>Coupon Code</h2>
                                        </div>
                                        <span class="success-msg">Successfully Applied Coupon code</span>
                                        <div class="input-group">
                                            
                                            <input type="email" class="form-control" placeholder="Enter Coupon Code">
                                            <span class="input-group-btn">
                                                <button class="btn btn-theme" type="submit">Apply</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="payment-section">
                                        <div class="heading">
                                            <h2>Payment Mode</h2>
                                        </div>
                                        <ul>
                                            <li>
                                                <input type="radio" id="test1" name="radio-group" checked>
                                                <label for="test1">PayUmoney</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="test2" name="radio-group" >
                                                <label for="test2">COD</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="test3" name="radio-group" >
                                                <label for="test3">Wallet</label>
                                            </li>
                                        </ul>
                                        <div class="btn-section text-center">
                                            <a href="#" class="btn-primary">Pay Now</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
            </div>
        </div>
    </div>
