<div class="social-media-section" data-aos="fade-in"
data-aos-duration="500">
    <ul class="social-wrap">
        <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="insta"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" class="skype"><i class="fa  fa-skype"></i></a></li>
        <li><a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a></li>
        <li><a href="#" class="linkedin"><i class="fa fa-linkedin "></i></a></li>
        <li><a href="#" class="pinterest"><i class="fa fa-pinterest-p"></i></a></li>
    </ul>
</div>
<footer>
    <div class="container" data-aos="fade-out">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                 <div class="footer-menu">
                    <div class="logo">
                        <img src="assets/image/R&J.jpg" class="img-responsive">
                    </div>
                    <p>R&J provide all kind of product at best price and also provides other
                         services.
                    </p>
                    <div class="social-media">
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                 </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="footer-menu">
                   <p class="title">Navigation Link</p>
                   <div class="footer-link">
                       <ul>
                           <li>
                               <a routerLink="/home">Home</a>
                           </li>
                           <li>
                               <a routerLink="/aboutUs">about Us</a>
                           </li>
                           <li>
                               <a routerLink="/contactUs">Contact Us</a>
                           </li>
                           <li>
                               <a href="#">Privacy Policy</a>
                           </li>
                           <li>
                               <a href="#">Faq</a>
                           </li>
                       </ul>
                   </div> 
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="footer-menu">
                   <p class="title">Categories</p>
                   <div class="footer-link">
                       <ul>
                           <li>
                               <a href="#">Laptop</a>
                           </li>
                           <li>
                               <a href="#">Mobile</a>
                           </li>
                           <li>
                               <a href="#">Shoes</a>
                           </li>
                           <li>
                               <a href="#">Men's Wear</a>
                           </li>                               
                       </ul>
                   </div> 
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="footer-menu">
                   <p class="title">Get in Touch</p>
                   <div class="footer-link">
                       <ul>
                           <li>
                               <a href="#"><i class="fa fa-phone"></i> +91 7874716190</a>
                           </li>
                           <li>
                               <a href="#"><i class="fa fa-phone"></i> +91 9979038583</a>
                           </li>
                           <li>
                               <a href="#"><i class="fa fa-whatsapp"></i> +91 9265928833</a>
                           </li>
                           <li>
                               <a href="#"><i class="fa fa-telegram"></i> +91 704378938583</a>
                           </li>
                            <li>
                               <a href="#"><i class="fa fa-skype"></i>  R&J solution</a>
                           </li>
                           <li>
                              <a href="#"><i class="far fa-envelope"></i> R&J5607@gmail.com</a>
                          </li>
                                                         
                       </ul>
                   </div> 
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="container-fluid footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="copyright-section">
                    <p> 
                        All right reserved by <i class="fa fa-copyright"></i> company name. Designed and developed by <a href="#">RJ Websolution</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="payment-accepted text-right">
                    <img src="/assets/image/payment.png">
                </div>
            </div>
        </div>
    </div>
</div>