.header-top {
    background-color: #000033;
    padding: 0;
    margin: 0px;
}
.header-top .profile-detail {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    text-align:right;
}

.header-top .profile-detail li {
    display: inline-block;
    
}

.header-top .profile-detail li a {
    padding: 0px 10px;
    font-size: 20px;
    color: #fff;
    float:right;
}
header .logo {
    padding: 10px 0;
    position: relative;
}

header .logo img {
    max-height: 60px;
    float: left;
    padding: 5px;
}
header {
    padding: 10px 0;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid #000000;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000000;
  position:relative;
}

.searchTerm:focus{
  background-color: #f2dea2;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #000000;
  background: #ffffff;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchButton img{
    width:28px;
    height:28px;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#id01 input[type=text],input[type=password] {
  width: 100%;
  padding: 5px 15px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

#id01 button {
  background-color: #0000ff;
  color: white;
  padding: 10px 20px;
  margin: 4px 0;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

#id01 button:hover {
  opacity: 0.8;
}

#id01 .cancelbtn {
  width: auto;
  padding: 10px 18px;
  border:none;
  background-color: #00ff00;
}

#id01 .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

#id01 img.avatar {
  width: 10%;
  border-radius: 20%;
}

#id01 .container {
  padding: 16px;
}

#id01 span.psw {
  float: right;
  padding-top: 16px;
}
#id01{
  display: none; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 10px;
  border: 1px solid #000;
}

#id01 .modal-content {
  background-color: #fefefe;
  margin: 5% auto 5% auto; 
  border: 1px solid #ff9933;
  border-radius: 0px; 
  width: 100%; 
  overflow: auto;
}

#id01 .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#id01 .close:hover,
#id01 .close:focus {
  color: red;
  cursor: pointer;
}

#id01 .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
#id01  .cancelbtn {
     width: 100%;
  }
}

#id02 input[type=text], input[type=password] {
  width: 100%;
  padding: 5px 15px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

#id02 button {
  background-color: #0000ff;
  color: white;
  padding: 10px 10px;
  margin: 4px 0;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

#id02 button:hover {
  opacity: 0.8;
}

#id02 .cancelbtn {
  width: auto;
  padding: 5px 15px;
  border:none;
  background-color: #00ff00;
}

#id02 .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

#id02 img.avatar {
  width: 10%;
  border-radius: 20%;
}

#id02 .container {
  padding: 16px;
}

#id02{
  display: none;
  left: 0;
  top: 0px;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 10px;
  border: 1px solid #000;
}
#id02 .modal-content {
  background-color: #fefefe;
  margin: 5% auto 5% auto;
  border: 1px solid #ff9933;
  border-radius: 0px; 
  width: 100%;
  overflow: auto;
}

#id02 .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#id02 .close:hover,
#id02 .close:focus {
  color: red;
  cursor: pointer;
}

#id02 .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
#id02  .cancelbtn {
     width: 100%;
  }
  .navbar-toggler-icon{
    background-color: #ccc;
    border:1px solid #ccc;
    border-radius:2px;
  }
 .disabled{
   opacity: 0;
 }